@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500;600;700&family=Lato:wght@300;400;700;900&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Signika+Negative:wght@400;600;700&family=Work+Sans:wght@100;200;300;400;500;600;615;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
// my variables...
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');



$skills-font : 'Signika Negative', sans-serif;
$skills-font2 : 'Lato', sans-serif;
$skills-font3 : 'Montserrat', sans-serif;
$skills-font4 : 'Work Sans', sans-serif;
$larg: 700;
$space: 0rem;
// $size-1 : 7rem;
// $size-2 : 4.4rem;
// $size-3 : 3rem;
// $size-4 : 2rem;
// $size-5 : 1.5rem;


// customize variables bulma here...
$title-spaced: 5rem;
// $column-gap: 0.15rem;


$logo-color:#FDF0CC;
$primary: rgba(hsl(171, 100%, 41%), 0.8);
$primary-opaque: hsl(171, 100%, 41%);
$navbar-background-color: #fff;



// $footer-color: white;
$navbar-burger-color : #fff;
$footer-background-color: none;
// POUR MODIFIER LA COULEUR DE LA NAVBAR
// $navbar-background-color: ;

//*********************************************


@import "../../node_modules/bulma/bulma.sass";
@import "partials/responsive";

@import "@mixins/mixins";

@import "partials/global";
@import "partials/header";
@import "partials/home";
@import "partials/contact";


@import "partials/works";

@import "partials/footer";

