@charset "utf-8";

// customize variables bulma here...


@import "../../node_modules/bulma/bulma.sass";

$header-background-color: lighten($primary, 10);	

header.header{
    
    h1, h2{
        color: white;
        
    }
}

.footer{
    background-color: darken($primary, 10);;
    p{
        color: white;
    }
}