@charset "utf-8";

// customize variables bulma here...

$primary: hsl(171, 100%, 41%);
$footer-color: white;
$navbar-burger-color : #fff;
$footer-background-color: $primary;
// POUR MODIFIER LA COULEUR DE LA NAVBAR
// $navbar-background-color: ;

//*********************************************


@import "../../node_modules/bulma/bulma.sass";
@import "header";
@import "footer";






