@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');


// my variables...

$skills-font : 'Montserrat', sans-serif;

$navbar-background-color: none;
// customize variables bulma here...

$title-spaced: 6rem;

$logo-color:#FDF0CC;
$primary: rgba(hsl(171, 100%, 41%), 0.8);

// $footer-color: white;
$navbar-burger-color : #fff;
$footer-background-color: none;
// POUR MODIFIER LA COULEUR DE LA NAVBAR
// $navbar-background-color: ;

//*********************************************


@import "../../node_modules/bulma/bulma.sass";
@import "partials/header";
@import "partials/footer";
@import "partials/main";



