@charset "utf-8";



%card-component{
  .card{
    overflow: hidden;
  }

  figure{
    position: relative;
    animation: zoom 9s ease infinite;
    
  }

  figcaption{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    h3{
      transition: transform .8s ease;
      font-family: $skills-font4;
      text-transform: uppercase;
      color: $grey-dark;
      font-weight: 700;
      @media #{$fullhd-size}{
        font-size: 2.2rem !important;
      }
    }

    p{
      color: $white;
      font-weight: 600;
      letter-spacing: .08rem;
      text-transform: uppercase;
      @media #{$desktop-size}{
        font-size: .9rem !important;
      }
      @media #{$fullhd-size}{
        font-size: 1.2rem !important;
      }
    }
    a{
      display: block;
      border: 5px solid red;
    }
  }


  a:hover{
    figcaption{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba($primary, .9);
        width: 101%;
        height: 101%;
    }
    h3, p{
     animation: legende .3s;
    }
    // corrige un bug car :after s'affichait au survol de figcaption
    .retouche:after{
      display: none;
    }
    img{
      filter: blur(2px);
    }
   
    
  }
  @keyframes zoom{
    0%{
      transform: scale(1);
    }
    50%{
      transform: scale(1.04);
    }  
  }
  
  @keyframes legende {
    0%{
      transform: translate(0px, 50px);
    }100%{
      transform: translate(0px, 0px);
    }
  }

  
}