@charset "utf-8";


footer.footer {
    clear: both;
    background-color: $primary;
    // padding-top: 1.5rem;
    padding-bottom:15px;
    // padding-left: 30%;
    // padding-right: 30%;
    
    // background-image: url("../img/Illustration/Illustration_vectorielle/cartographie-margin-none.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    svg{
        fill: $primary-dark;
    }
    
    .columns.map {
        // background-color: red;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        // margin-left: 20%;
        // margin-right: 20%;

        // @media #{$tablet-size}{
        //     margin-left: 6rem;
        //     margin-right: 6rem;
        // }
        // @media #{$desktop-size}{
        //     margin-left: 12rem;
        //     margin-right: 12em;
        // }
        // @media #{$widescreen-size}{
        //     margin-left: 18rem;
        //     margin-right: 18rem;
        // }
        // @media #{$fullhd-size}{
        //     margin-left: 22rem;
        //     margin-right: 22rem;
        // }
    }
    // le text s'aligne verticalement à partir de la tablette
    p.is-inline-tablet, .badge{
        vertical-align: middle;
    }

    *{ color:#fff; }
    
    ul{ padding-top: .5rem; }
    
    li{ 
        list-style-type: none; 
        margin: 2%;
        i{
            color: $primary-dark;
        }
    }
    
    .arrow{
        display: block;
        position: relative;
        
    }
    .arrow img{
        &:hover, &:focus{
            opacity: .8;
            
        }
        position: absolute;
        height: 12vw;
        max-height: 71px;
        top: -45px;
        right: 1%;
        opacity: .4;
        transition: all .2s ease-in;
    }
    
    p.space-word{letter-spacing: 0.01em;}
    
    .textarea{color: $grey-darker;}
    
    hr.navbar-divider{
        background-color:lighten($primary, 7);
        margin: 1.4rem auto 1.4rem ;
        width: 30%;
    }

    // Le logo dans le footer
    svg{
        width: 10rem;
    }
    
}
