@charset "utf-8";


// j'ai modifié cette valeur sinon il y avait un emarge
html,
body {
    &.has-navbar-fixed-top{
        padding-top: 0;
    }
}
 


a, a:active{
  color: inherit;
}
html{
  scroll-behavior: smooth;
}