@charset "utf-8";
@import "navbar";
@import "background";

header.header{
    font-size: 0; // résoud un bug d'espacement sous la vague
    position: relative;
    overflow: hidden;
    background: radial-gradient(#4C2251, #1B0C25);
    // règle pr corriger un bug des étoiles qui ne se centrent pas
    #stars-container{
        @media screen and (min-width: 2012px){
            width: 100%;
            max-width: 2000px;
            margin: 0 auto;
        }
    }
    color: #fff;
    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../img/Illustration/cartographie-margin-none.jpg");
        // je réduis l'opacité afin de voir le fond bleur
        opacity: .2;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(0px);
    
    }

 
    #galaxy{
        height: 100%;
        width: 100%;
        background-color: #1B0C25;
    }

    .hero{
        // c'est la marge qui décale le logo principal avec les h2.jobs
        .hero-body{
            margin-top: 3vw;
            @media #{$tablet-size}{
                margin-top: 0rem;
            }
        }

        .columns{
            @media #{$tablet-size}{
                text-align: left !important;
            }
            
        }

        .container-logo{
            @media #{$tablet-size}{
                text-align: right !important;
            }
            
        }
   
        .logo-hero{
            width: 50vw;
            min-width: 150px;
            max-width: 280px;
            position: relative;
            top: 5px;
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(137deg) brightness(103%) contrast(101%);
            animation: blink 2s infinite ease;
            @media #{$tablet-size}{
                max-width: 340px;
            }
            @media #{$desktop-size}{
                max-width: 440px;
            }

        }

        .container-jobs{
            @media #{$tablet-size}{
                margin-left: 1.5rem;
            }
            
        }


        h2.jobs{
            color: $white;
            font-weight: 700;
            font-size: 1.6rem;
            @media #{$desktop-size}{
                font-size: 2.4rem;
            }
            // les trois 'h2' en block
            span{
                display: block;
                line-height: 2.5rem;
            }
        }





        // les titres des pages hors celle de la page d'acueil
        .container-title{
        display: inline-flex;
        flex-direction: column;
        
      
     
        h1, h2{
            font-family: $skills-font; // Montserrat bold
            letter-spacing: $space;
        }
        h1{
            font-size: 4rem;
            font-weight: $larg;
            align-content: start;
            position: relative;
            @media #{$tablet-size}{
                font-size: 6rem;
            }
            @media #{$desktop-size}{
                font-size: 6rem;
            }

        }
        // représente le "my"
        span{
            position: relative;
            top: 0.5em;
            align-self: start;
            font-size: 1.8rem;
            font-weight: 700;
            color: rgba(255, 255, 255 ,.7);
            @media #{$tablet-size}{
                font-size: 2.5rem;
            }
            @media #{$desktop-size}{
                font-size: 2.5rem;
            }
            
        }
    }



}

        // la flèche animée
        .arrow{
            position: absolute;
            bottom: -5px;
            text-align: center;
            width: 100%;
            height: auto;
            color: $primary-opaque;
            // background-color: red;
            z-index: 5000;
            i{font-size: 2.1rem;}
            animation: bounce .5s ease-in infinite alternate;
            @media #{$tablet-size}{
                &{
                    bottom: 45px;
                }
                i{
                    font-size: 2.3rem;
                }
                    
            }
            @media #{$fullhd-size}{
                &{
                    bottom: 40px;
                }
            }

        }


        //////////////// LE HERO POUR LES WORKS //////////////////////////////////////// 
        .container-hero-works{
            justify-content: flex-start;
            align-items: center;
        }

        .arrow-back{
            opacity: .7;
            font-size: 2rem;
            position: absolute;
            left: 1rem;
            top: 50%;
            transform: translate(-5px, -50%);
            &:hover{
                opacity: 1;
                color: $primary-opaque;
            }
            @media #{$tablet-size}{
                font-size: 2.8rem;
                left: 6vw;
              }
              @media #{$desktop-size}{
                left: 2vw;
              }
              @media #{$widescreen-size}{
                font-size: 3.2rem;
                left: 2rem;
              }
              @media #{$fullhd-size}{
                left: 2rem;
              }

        }

        h1.hero-work {
            flex: 2;
            // position relative pr résoudre un bug d'aligmenent avec l'arrow
            display: inline;
            bottom: .3rem;
            font-weight: 900;
            font-family: $skills-font2;
            letter-spacing: .1rem;
            span{
              display: block;
              font-weight: 700;
              font-family: $skills-font;
              color:$white;
              letter-spacing: .2rem;
              line-height: .5rem;
              opacity: .5;
              @media #{$tablet-size}{
                letter-spacing: .5rem;
                line-height: 1rem;
              }
              @media #{desktop-size}{
                
              }
              
            }
          }
        //////////////// FIN DU HERO POUR LES WORKS //////////////////////////////////////// 
          

    // //le cercle
    // .chevron{
    //     //flex me permet de centrer facilement son enfant(le chevron)
    //     display: flex;
    //     width: 8vw;
    //     height: 8vw;
    //     max-width: 78px;
    //     max-height: 78px;
    //     position: absolute;
    //     bottom: 0;
    //     left : 90%;
    //     transform : translate(-50%, -5px);
    //     border-radius: 50%;
    //     margin-bottom: 13%;
    //     animation: pulse 2.3s infinite;
    
    // }

    // //le chevron
    // .chevron::before{
    //     content: '';
    //     //margin:auto est un raccourci pr centrer grace a son parent flex
    //     margin: auto;
    //     left: 50%;
    //     display: inline-block;
    //     transform: translateY(-60%);
    //     border-color:#fff;
    //     border-style: solid;
    //     border-width: 0 4px 4px 0;
    //     transform: rotate(45deg);
    //     height: 28%;
    //     width: 28%;
        
    // }
    // .chevron:hover{
    //     cursor: pointer;
    // }
  
    // @keyframes pulse {
    //     0%{ transform: translate(-50%, -5px);
    //         border: 2px solid transparent;
    //     }
    //     25%{
    //         transform: translate(-50%, -3px);
           
    //     }
    //     50%{ transform: translate(-50%, 10px);
            
    //     }
    //     100%{ transform: translate(-50%, -5px);
    //         border: 2px solid #fff;
    //     }
        
    // }


      .cloud{
        position: absolute;
        bottom: -12px;
        display: inline-block;
        background-position: 0px -10px;
        background-repeat: repeat no-repeat;
        background: url(../../assets/SVG/toto2.svg);
        width: 100vw;
        height: calc(100vw / 6.40);
        max-height: 55px;
        animation: animate 8s linear infinite;
        z-index: 0;
      }

      .cloud:before{
        content: '';
        width: 100vw;
        height: calc(100vw / 6.40);
        max-height: 55px;
        background: url(../../assets/SVG/cloud5.svg);
        display: inline-block;
        position: absolute;
        bottom: 2px;
        // left: 0;
        opacity: .8;
        background-repeat: repeat-x;
        animation: animate-reverse 12s linear infinite;
      }
      @media #{$tablet-size}{
        .cloud{
          bottom: -1px;
          max-height: 85px;
          animation: animate 20s linear infinite;
        }
        .cloud:before{
          bottom: 11px;
          max-height: 68px;
          animation: animate-reverse 35s linear infinite;
        }
      }
      @media #{$desktop-size}{
        .cloud{
          bottom: -17px;
          max-height: 120px;
          animation: animate 20s linear infinite;
        }
        .cloud:before{
          bottom: 13px;
          max-height: 82px;
        }
      }



        @keyframes animate {
            0%{
       
               background-position-x: 0px;
            }
            100%{
           
                background-position-x: 100vw;
            }
        }
        @keyframes animate-reverse {
          0%{
             background-position-x: 100vw;
          }
          100%{
              background-position-x: 0px;
          }
      }


    // la vague
    // section:last-child{
    
    //     overflow: hidden;

  
    //     .wave.is-hidden{
    //         animation: bou all 3s ease;
    //     }

    //     @keyframes bou{
    //         0%{ transform: translateY(0px); }
    //         100%{ transform: translateY(-500px); }
    //     }

    //     .wave {
    //         position: absolute;
    //         bottom: -15px;
    //         left: 0;
    //         width: 100%;
    //         height: 100px;
    //         background: url("../img/wave.png");
    //         background-size: 1000px 100px;
    //         transition: all 2s;

    //         &.wave1{
    //             animation: animate 15s linear infinite;
    //             z-index: 1000;
    //             opacity: 1;
    //             animation-delay: 0s;
    //             bottom: 0px;
                
              
    //         }
    //         &.wave2{
    //             animation: animate2 6s linear infinite;
    //             z-index: 999;
    //             opacity: 0.7;
    //             animation-delay: 5s;
    //             bottom: 15px;
    //         }
    //         &.wave3{
    //             animation: animate 4s linear infinite;
    //             z-index: 998;
    //             opacity: 0.5;
    //             animation-delay: -2s;
    //             bottom: 20px;
    //         }
    //         &.wave4{
    //             animation: animate2 5s linear infinite;
    //             z-index: 997;
    //             opacity: 0.3;
    //             animation-delay: -5s;
    //             bottom: 20px;
    //         }
      

    //         @media screen and (max-width: 1024px){
                
    //             background-size: 100% 10vw;
    //             width: 100%;
    //             height: 10vw;
    //             bottom: 0px;

    //             &.wave1{
    //                 bottom: -15px;
    //                 animation: animate2 15s linear infinite;
                  
    //             }
    //             &.wave2{
    //                 bottom: -10px;
    //                 animation: animate2 6s linear infinite;
                  
    //             }
    //             &.wave3{
    //                 bottom: 0px;
    //                 animation: animate 4s linear infinite;
                  
    //             }
    //             &.wave4{
    //                 bottom: 0px;
    //                 animation: animate2 5s linear infinite;
                  
    //             }
    //             @keyframes animate {
    //                 0%{
    //                    background-position: 0;
    //                 }
    //                 100%{
    //                     background-position:100%;
    //                 }
    //             }
    //             @keyframes animate2 {
    //                 0%{
    //                     background-position: 0;
    //                 }
    //                 100%{
    //                     background-position: 100%;
    //                 }
    //             }


    //         }
            


    //     }


        

    //     @keyframes animate {
    //         0%{
    //            background-position: 0;
    //         }
    //         100%{
    //             background-position: 1000px;
    //         }
    //     }
    //     @keyframes animate2 {
    //         0%{
    //             background-position: 0;
    //         }
    //         100%{
    //             background-position: -1000px;
    //         }
    //     }
     



    //  }

    /**
    clouds
    ********/



//     .clouds{
  
//         position: absolute;
//   bottom: 0px;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//     }
//     .clouds img {

//         position: absolute;
//         bottom: -1rem;
//         max-width: 100%;
//         animation: animate calc(8s * var(--i)) linear infinite;
//       }
//       @keyframes animate {
//         0% {
//           transform: translateX(-100%);
//         }
//         100% {
//           transform: translateX(100%);
//         }
//       }


   


    // @media screen and (min-width: 1024px){
    //     &{
    //         //header est en position absolute, je décale le décalle vers le bas de la meme hauteur que la superspos
    //         top: 2.1rem;
    //     }
    // }
        
        


}   


