@charset "utf-8";


// j'ai modifié cette valeur sinon il y avait un emarge
html,
body {
    &.has-navbar-fixed-top{
        padding-top: 0;
    }
}
 



/***********************************
HEADER
************************************/

header.header{
    position: relative;
    overflow: hidden;
    background-color: darken(hsl(171, 100%, 41%), 10);

    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../img/Illustration/cartographie-margin-none.jpg");
        // je réduis l'opacité afin de voir le fond bleur
        opacity: .2;
        background-repeat: no-repeat;
        background-size: cover;
        animation: transition-img 10s infinite;
    }

    @keyframes transition-img{
        0% {transform: scale(1);}
        100%{transform: scale(1.3);}
    }
    
    
    .is-normal{
        background-color: $primary;
        transition: all .3s ease;
    }

    .is-black-1{
        background-color: darken($primary, 20);
        transition: all .5s ease;
    }
    .is-black-2{
        background-color: darken($primary, 30);
        transition: all .5s ease;
        
    }
    .is-black-3{
        background-color: darken($primary, 40);
        transition: all .5s ease;
    }

    .is-black-4{
        background-color: black;
        transition: all .5s ease;
    }

    // la navbar par défaut
    .is-fixed-top{
        background-color: transparent;
        z-index: 1001;
        // la navbar rajoute la class '.is-scroll' lors du scroll
        &.is-scroll{
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0px 3px 4px 4px rgba(0, 0, 0, .2);
        animation: top-in-basic 1 .6s 0s;
        }
    }
    
    @keyframes top-in-basic{
        0%{ transform: translateY(-2000px); }
        100%{ transform: translateY(0px); }
    }
 

    h2{
        font-family: $skills-font; // Montserrat bold
        font-weight: 700;
        margin-top: 2em;
        & span{
            font-size: 2.2em;

        }
    }

    hr{ margin: 0;}

    .navbar-brand{
        svg{
            width: 13vw;
            max-width: 90px;
            height: auto;
        }
 
    }
    
     // couleur du logo svg après le scroll
    .is-scroll{
        .cls-1{
            fill: $primary;
        }
        // couleur du menu burger après le scroll
        .navbar-burger{
            background-color: $primary;
        }
    }
    //les liens de la navbar deviennent noir après le scroll 
    @media screen and (min-width: 1024px){
        .navbar.is-primary.is-scroll .navbar-end > .navbar-item{
            color: $grey-darker;
            &:hover{
                color: #fff;
                background-color: $primary;
            }
            
        }
    }

    
    // navbar-item c'est les liens des menu 
    .navbar-item{ 
        a{
            // réajuste la hauteur des icones
            line-height: 0.8;
            margin: 0 .2rem; 
        }
        &.is-size-4{ 
            display: inline-block;
            position: relative;
        }
      

    }
   
    .is-active{transition: all 1s ease-in;}

    .hero{ 
        padding-bottom: 5%;
        // "svg" et ".cls-1 "représentent tous les deux le logo svg mais il y a un bug quand je modifie la taille sur .cls-1
        svg{
            width: 40%;
            min-width: 150px;
            filter: drop-shadow(0px 5px 5px darken($primary, 17));
            @media screen and (max-width: 768px){
                &{
                    width: 50%;
                    filter: drop-shadow(0px 2px 2px darken($primary, 20));
                }
            }
        }
    
    }
        
   
    //le cercle
    .chevron{
        //flex me permet de centrer facilement son enfant(le chevron)
        display: flex;
        width: 8vw;
        height: 8vw;
        max-width: 78px;
        max-height: 78px;
        position: absolute;
        bottom: 0;
        left : 90%;
        transform : translate(-50%, -5px);
        border-radius: 50%;
        margin-bottom: 13%;
        animation: pulse 2.3s infinite;
    
    }

    //le chevron
    .chevron::before{
        content: '';
        //margin:auto est un raccourci pr centrer grace a son parent flex
        margin: auto;
        left: 50%;
        display: inline-block;
        transform: translateY(-60%);
        border-color:#fff;
        border-style: solid;
        border-width: 0 4px 4px 0;
        transform: rotate(45deg);
        height: 28%;
        width: 28%;
        
    }
    .chevron:hover{
        cursor: pointer;
    }
  
    @keyframes pulse {
        0%{ transform: translate(-50%, -5px);
            border: 2px solid transparent;
        }
        25%{
            transform: translate(-50%, -3px);
           
        }
        50%{ transform: translate(-50%, 10px);
            
        }
        100%{ transform: translate(-50%, -5px);
            border: 2px solid #fff;
        }
        
    }

    // la vague
    section:last-child{
       
        overflow: hidden;

        .wave {
            position: absolute;
            bottom: -15px;
            left: 0;
            width: 100%;
            height: 100px;
            background: url("../img/wave.png");
            background-size: 1000px 100px;

            &.wave1{
                animation: animate 15s linear infinite;
                z-index: 1000;
                opacity: 1;
                animation-delay: 0s;
                bottom: 0px;
              
            }
            &.wave2{
                animation: animate2 6s linear infinite;
                z-index: 999;
                opacity: 0.7;
                animation-delay: 5s;
                bottom: 15px;
            }
            &.wave3{
                animation: animate 4s linear infinite;
                z-index: 998;
                opacity: 0.5;
                animation-delay: -2s;
                bottom: 20px;
            }
            &.wave4{
                animation: animate2 5s linear infinite;
                z-index: 997;
                opacity: 0.3;
                animation-delay: -5s;
                bottom: 20px;
            }
      

            @media screen and (max-width: 1024px){
                background-size: 100% 10vw;
                width: 100%;
                height: 10vw;
                bottom: 0px;

                &.wave1{
                    bottom: -15px;
                    animation: animate2 15s linear infinite;
                  
                }
                &.wave2{
                    bottom: -10px;
                    animation: animate2 6s linear infinite;
                  
                }
                &.wave3{
                    bottom: 0px;
                    animation: animate 4s linear infinite;
                  
                }
                &.wave4{
                    bottom: 0px;
                    animation: animate2 5s linear infinite;
                  
                }
                @keyframes animate {
                    0%{
                       background-position: 0;
                    }
                    100%{
                        background-position:100%;
                    }
                }
                @keyframes animate2 {
                    0%{
                        background-position: 0;
                    }
                    100%{
                        background-position: 100%;
                    }
                }


            }



        }


        


       




        @keyframes animate {
            0%{
               background-position: 0;
            }
            100%{
                background-position: 1000px;
            }
        }
        @keyframes animate2 {
            0%{
                background-position: 0;
            }
            100%{
                background-position: -1000px;
            }
        }
     



     }

    /**
    clouds
    ********/



//     .clouds{
  
//         position: absolute;
//   bottom: 0px;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//     }
//     .clouds img {

//         position: absolute;
//         bottom: -1rem;
//         max-width: 100%;
//         animation: animate calc(8s * var(--i)) linear infinite;
//       }
//       @keyframes animate {
//         0% {
//           transform: translateX(-100%);
//         }
//         100% {
//           transform: translateX(100%);
//         }
//       }


   


    // @media screen and (min-width: 1024px){
    //     &{
    //         //header est en position absolute, je décale le décalle vers le bas de la meme hauteur que la superspos
    //         top: 2.1rem;
    //     }
    // }
        
        


}   