@charset "utf-8";  

    // la navbar par défaut
    nav.navbar{
        
    //   background-color: transparent;
    background-color: rgba(#ffffff, 0);
    //   z-index: 1001;
      position: fixed;
      top: 0px;
      left: 0;
      right: 0;
      width: 100%;
      transition: top 0.2s;

      hr{ 
          margin: 0;
      }
  


  .login{
    @media #{$tablet-size}{
        // display: block;
        // width: 100%;
        // font-size: 1rem !important;
        // margin-top: 0.5rem !important;
    }
  }

    // le logo en haut à gauche
    .navbar-brand{
        svg{
            width: 20vw;
            max-width: 100px;
            height: auto;
            fill: #ffffff;
            // fill: $logo-color;
        }
    }
    



    //les liens de la navbar deviennent noir après le scroll 
    @media screen and (min-width: 1024px){

        // agit sur la navbar lors du scroll
        .navbar.is-scroll .navbar-end > .navbar-item{
            color: $grey-dark;
            &:hover{
                color: red;
                background-color: $primary;
            
            }        
        }


        // la couleur au survol des liens sur desktop
        .navbar .navbar-end > .navbar-item:hover{
            background-color: darken($primary, 20);
            border-bottom: 3px solid lighten($primary, 30);
        }

    }


    .navbar-menu{
        padding: 0;
    }

    // c'est le menu en accordeon une fois affiché
    .navbar-menu.is-active{
        .navbar-item, .navbar-item:last-child{
            // color: red;
            background-color: $primary-opaque;
            
        }
        .navbar-item{
            &:hover{
                color: $primary-opaque;
                background-color: #ffffff;
                a:hover{
                    color: $grey-darker;
                }
            }
        }



    }


        // navbar-item c'est les liens des menu 
        .navbar-item{
            color: $white;
     
            &:hover{
   
                background: $primary-opaque;
            }
            // quand la page est activé
            &.link-active{
                background:rgba($primary-opaque, .3);
            }
            a{
                // réajuste la hauteur des icones
                line-height: 0.8;
                margin: 0 .2rem;
               
            }
            &.is-size-4{ 
                display: inline-block;
                position: relative;
            }
            // les social icons et le logo font pareil au suvol
            &:last-child, &.logo:hover{
                background-color: transparent;
                a:hover, svg{
                    color: $primary-opaque;
                    fill: $primary-opaque;
                }
            }
    
        }



        .is-active{
            transition: all 1s ease-in;

        }


  }





//  TOUTES LES REGLES POUR CHANGER LA COULEURS DES ELEMENTS DE LA NAVBAR VIA LA CLASS "to-the-top"
nav.navbar.to-the-top{
    top: 0 !important;
    background-color: $primary-opaque;
    box-shadow : 0px 4px 4px 4px rgba(0, 0, 0, .3);
    



    
    .navbar-end .navbar-item{
        color: #ffffff;
        &:hover{ 
            background-color: #ffffff; 
            color: $primary-opaque;
        }
        &:last-child:hover{ 
            // background-color: transparent;
            color: white;
            a:hover{ color: $grey-darker; }
        }
    }

    // le logo en haut à gauche
    .navbar-brand{
        svg{
            fill: $grey-darker;
        }
    }
}