@charset "utf-8";


#page-User{

  .section.login{
    
    .container.form{
      max-width: 450px;
      &.is-connected{
        display: none;
      }

      button{
        @media #{$tablet-size}{
          width: auto !important;
        }
      }
    }
    
  }
  
  .section.contact{
    span{
      font-weight: lighter;
      color: $primary-opaque;
    }
  }
}


  
  
