@charset "utf-8";


// j'ai modifié cette valeur sinon il y avait un emarge
html,
body {
    &.has-navbar-fixed-top{
        padding-top: 0;
    }
}
 



/***********************************
HEADER
************************************/

header.header{
    position: relative;
   
   
    background-image: url("../img/Illustration/cartographie-margin-none.jpg");
   
    background-repeat: no-repeat;
    background-size: cover;

    animation: transition-img 15s infinite;
    
    
    @keyframes transition-img{
        0% {
           
            background-position: 0 0;
          
        }
        40% { 
           
            background-position: 100%;
       
          
        }
       
        100%{
          
        }
    }

 
    h2{
        font-family: $skills-font; // Montserrat bold
        font-weight: 800;
        margin-top: 2em;
        & span{
            font-size: 2em;
        }
    }

    hr{ margin: 0;}

    .navbar-brand{
        svg{
            width: 25%;
            height: auto;
        }
    }
    .navbar-item a{ 
        // réajuste la hauteur des icones
        line-height: 0.8;
        color: #fff;
        margin: 0 .2rem;  
    }
    .navbar-item.is-size-4{ 
        display: inline-block;
        position: relative;
    }
    // animation du soulignage des links
    .navbar-item.is-size-4:after{ 
        content: "";
        height: 2px;
        width: 90%;
        margin: 0 auto;
        display: block;
        transform: translateY(-4px);
        opacity: 0;
        visibility: hidden;
        background:lighten($primary, 30);
        transition: all .3s ease-in;
    }
    .navbar-item.is-size-4:hover:after{ 
        transform: translateY(-2px);
        visibility: visible;
        opacity: 1;
       
    }
 
    .is-active{transition: all 1s ease-in;}


    .hero{ 
        padding-bottom: 5%;
        // "svg" et ".cls-1 "représentent tous les deux le logo svg mais il y a un bug quand je modifie la taille sur .cls-1
        svg{
            width: 40%;
            min-width: 150px;
        }
        .cls-1{
            
            fill: #fff;
            
        }
    }

    //le cercle
    .chevron{
        //flex me permet de centrer facilement son enfant(le chevron)
        display: flex;
        width: 8vw;
        height: 8vw;
        max-width: 78px;
        max-height: 78px;
        position: absolute;
        bottom: 0;
        left : 90%;
        transform : translate(-50%, -5px);
        border-radius: 50%;
        margin-bottom: 13%;
        animation: pulse 2.3s infinite;
    
    }

    //le chevron
    .chevron::before{
        content: '';
        //margin:auto est un raccourci pr centrer grace a son parent flex
        margin: auto;
        left: 50%;
        display: inline-block;
        transform: translateY(-60%);
        border-color:#fff;
        border-style: solid;
        border-width: 0 4px 4px 0;
        transform: rotate(45deg);
        height: 28%;
        width: 28%;
        
    }
    .chevron:hover{
        cursor: pointer;
    }
  
    @keyframes pulse {
        0%{ transform: translate(-50%, -5px);
            border: 2px solid transparent;
        }
        25%{
            transform: translate(-50%, -3px);
           
        }
        50%{ transform: translate(-50%, 10px);
            
        }
        100%{ transform: translate(-50%, -5px);
            border: 2px solid #fff;
        }
        
    }

    // la vague
    section:last-child{
       
        overflow: hidden;

        .wave {
            position: absolute;
            bottom: -15px;
            left: 0;
            width: 100%;
            height: 100px;
            background: url("../img/wave.png");
            background-size: 1000px 100px;

            &.wave1{
                animation: animate 15s linear infinite;
                z-index: 1000;
                opacity: 1;
                animation-delay: 0s;
                bottom: 0px;
              
            }
            &.wave2{
                animation: animate2 6s linear infinite;
                z-index: 999;
                opacity: 0.7;
                animation-delay: 5s;
                bottom: 15px;
            }
            &.wave3{
                animation: animate 4s linear infinite;
                z-index: 998;
                opacity: 0.5;
                animation-delay: -2s;
                bottom: 20px;
            }
            &.wave4{
                animation: animate2 5s linear infinite;
                z-index: 997;
                opacity: 0.3;
                animation-delay: -5s;
                bottom: 20px;
            }
      

            @media screen and (max-width: 1024px){
                background-size: 100% 10vw;
                width: 100%;
                height: 10vw;
                bottom: 0px;

                &.wave1{
                    bottom: -15px;
                    animation: animate2 15s linear infinite;
                  
                }
                &.wave2{
                    bottom: -10px;
                    animation: animate2 6s linear infinite;
                  
                }
                &.wave3{
                    bottom: 0px;
                    animation: animate 4s linear infinite;
                  
                }
                &.wave4{
                    bottom: 0px;
                    animation: animate2 5s linear infinite;
                  
                }
                @keyframes animate {
                    0%{
                       background-position: 0;
                    }
                    100%{
                        background-position:100%;
                    }
                }
                @keyframes animate2 {
                    0%{
                        background-position: 0;
                    }
                    100%{
                        background-position: 100%;
                    }
                }


            }



        }


        


       




        @keyframes animate {
            0%{
               background-position: 0;
            }
            100%{
                background-position: 1000px;
            }
        }
        @keyframes animate2 {
            0%{
                background-position: 0;
            }
            100%{
                background-position: -1000px;
            }
        }
     



     }

    /**
    clouds
    ********/



//     .clouds{
  
//         position: absolute;
//   bottom: 0px;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//     }
//     .clouds img {

//         position: absolute;
//         bottom: -1rem;
//         max-width: 100%;
//         animation: animate calc(8s * var(--i)) linear infinite;
//       }
//       @keyframes animate {
//         0% {
//           transform: translateX(-100%);
//         }
//         100% {
//           transform: translateX(100%);
//         }
//       }


   


    // @media screen and (min-width: 1024px){
    //     &{
    //         //header est en position absolute, je décale le décalle vers le bas de la meme hauteur que la superspos
    //         top: 2.1rem;
    //     }
    // }
        
        


}   