@charset "utf-8";

main{

  h3.title.title-category{
    font-family: $skills-font;
    margin-bottom: $title-spaced;
    color: $primary;
    position: relative;
    
  
    &:after, &:before{
      content: '';
      background: black;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: .3em;
      width: .3em;
    }

    &:before{
      left: 35%;
    }
    &:after{
      right: 35%;
    }






  }










}